<ng-container *ngIf="errorsDefault.includes(errorKey ?? ''); else customErrorsTemplate">
  <span class="text-invalid" *ngIf="errorKey === 'required' && !omitErrors.includes(errorKey)">
    {{
      required ? (required | translate: errorParams) : ('alerts.required' | translate: errorParams)
    }}
  </span>

  <span class="text-invalid" *ngIf="errorKey === 'maxlength' && !omitErrors.includes(errorKey)">
    {{
      maxlength ? (maxlength | translate: errorParams) : ('alerts.major' | translate: errorParams)
    }}
  </span>

  <span class="text-invalid" *ngIf="errorKey === 'minlength' && !omitErrors.includes(errorKey)">
    {{
      minlength ? (minlength | translate: errorParams) : ('alerts.minor' | translate: errorParams)
    }}
  </span>

  <span class="text-invalid" *ngIf="errorKey === 'pattern' && !omitErrors.includes(errorKey)">
    {{ pattern ? (pattern | translate: errorParams) : ('alerts.pattern' | translate: errorParams) }}
  </span>

  <span class="text-invalid" *ngIf="errorKey === 'email' && !omitErrors.includes(errorKey)">
    {{
      email ? (email | translate: errorParams) : ('alerts.invalid-email' | translate: errorParams)
    }}
  </span>

  <span class="text-invalid" *ngIf="errorKey === 'min' && !omitErrors.includes(errorKey)">
    {{ min ? (min | translate: errorParams) : ('alerts.min-value' | translate: errorParams) }}
  </span>

  <span class="text-invalid" *ngIf="errorKey === 'max' && !omitErrors.includes(errorKey)">
    {{ max ? (max | translate: errorParams) : ('alerts.max-value' | translate: errorParams) }}
  </span>

  <span class="text-invalid" *ngIf="errorKey === 'unique' && !omitErrors.includes(errorKey)">
    {{ unique ? (unique | translate: errorParams) : ('alerts.unique' | translate: errorParams) }}
  </span>
</ng-container>

<ng-template #customErrorsTemplate>
  <span class="text-invalid" *ngIf="errorKey === customErrorType && !omitErrors.includes(errorKey)">
    {{ customErrorMessage | translate: errorParams }}
  </span>

  <ng-container *ngFor="let error of customErrors">
    <span class="text-invalid" *ngIf="errorKey === error.type">
      {{ error.message | translate: errorParams }}
    </span>
  </ng-container>
</ng-template>
